{{>topimage}}

<div class="container">
     <div class="teaser">
        <div class="teaser-left">
            <p class="teaser__text">
               {{error}}</p>
        </div>
    </div>
    <div class="form">

        <form method="POST">
            <div class="inputfields">
                {{#userProfile}}
                <div class="input">
                    <label for="first">{{first}}First Name </label>
                    <input type="text" name="first"
                        value= {{first}} />
                </div>
                <div class="input">
                    <label for="last">Last Name {{last}}</label>
                    <input type="text" name="last"
                        value="{{last}}" />
                </div>

                <div class="input">
                    <label for="email">E-Mail </label>
                    <input type="text" name="email"
                        value={{email}} />
                </div>
                <div class="input">
                    <label for="password">Password </label>
                    <input type="text" name="password"
                        placeholder="******************" />
                </div>
                <div class="input">
                    <label for="first">Age </label>
                    <input type="number" name="age"  min="16" value={{age}} />
                </div>
                <div class="input">
                    <label for="last">City </label>
                    <input type="text" name="city" value={{city}} />
                </div>

                <div class="input">
                    <label for="url">URL</label>
                    <input type="text" name="url" value={{url}} />
                </div>
                {{/userProfile}}
            </div>
            <button>Edit Profile</button>
        </form>
    </div>

</div>
